/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
	padding: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
	overflow: hidden;

	/* width: 100%;
    height: 100%; */

	background-color: rgb(0, 0, 0);
}

:root {
	/* --leftHeaderBackground: grey;  */

	/* Right Header Component */
	--Leftheader-height: 7%;
	--leftHeaderInput-hieight: 50%;
	/* Tab Component */
	--tabBtn-fontSize: 20px;

	/* Table Component */
	--tableHeaderFont-Size: 19px;
	--tableFont-Size: 19px;
	--tableminHeight: 38px;

	--tableHeaderWidthId: 6.9%;
	--tableHeaderWidthName: 39.7%;
	--tableHeaderWidthbestand: 22.8%;

	/* Product Component */

	--productHeaderFontSize: 30px;
	--productTextFontSize: 20px;
	--productImageDeatilsGap: 8%;

	/* --tabBackground: grey;  */

	/* Header Scanlytics Section */
	--scanlyticsLogoWidth: 70%;
	--scanlyticsLogoHeight: 90%;
	--scanlyticsTitleFontSize: 38px;
	--scanlyticsLogoWidthSection: 70%;
	--scanlyticsLogoHighSectiont: 64.1%;

	/*  Skelet Section body Point  Section */

	--bodyPointsTitleFontSize: 40px;
	--bodyplusFontSize: 40px;
	--bodyPin1LeftPosition: 37%;
	--bodyPin1TopPostion: 25%;
	--navBarIconSectionWidth: 70%; 
	--navBarIconSectionHeight: 18%;
	--deleteMessageFontSize: 18px;
	--deleteMessageIconHeight: 85%;
	--deleteMessageIconWidth: 45%


}


/* Media Queries */
/* XS - Size Screen - Smart Phones  */
@media (min-width: 320px) and (max-width: 460px) {
}
/* S - Size Screen - ipads (e.g. 1366px - 1440px wide) */
@media (min-width: 768px) {
	:root {
		/* --leftHeaderBackground: rgb(222, 12, 250);  */
		--Leftheader-height: 7%;
		--leftHeaderInput-hieight: 50%;
		--leftHeaderSearchInput-fontSize: 22px;
		/* --tableHeaderBackground: rgb(200, 45, 71);  */

		/* Table Component */
		--tableHeaderFont-Size: 19px;
		--tableFont-Size: 19px;
		--tableminHeight: 53px;

		/* Product Component */
		--productHeaderFontSize: 30px;
		--productTextFontSize: 20px;
		--productImageDeatilsGap: 8%;

		/*  Skelet Section body Point  Section */

		--bodyPointsTitleFontSize: 40px;
		--bodyplusFontSize: 40px;
		--bodyPin1LeftPosition: -1%;
		--bodyPin1TopPostion: 20%;
		--bodyPin2LeftPosition: 37%;
		--bodyPin2TopPostion: 25%;
		--deleteMessageFontSize: 8px
	}
}

/* M - Size Screen (e.g. 1366px - 1440px wide - small laptops) */
@media (min-width: 1280px) {
	:root {
		/* --leftHeaderBackground: rgb(230, 230, 230);  */
		--Leftheader-height: 7%;
		--leftHeaderInput-hieight: 50%;
		--tabBtn-fontSize: 13px;
		/* --tableHeaderBackground: rgb(35, 172, 28);  */

		/* Table Component */
		--tableHeaderFont-Size: 12px;
		--tableFont-Size: 11px;
		--tableminHeight: 25px;
		--tableHeaderWidthId: 6.9%;
		--tableHeaderWidthName: 39.4%;
		--tableHeaderWidthbestand: 22.69%;

		/* Product Component */
		--productHeaderFontSize: 16px;
		--productTextFontSize: 11px;
		--productImageDeatilsGap: 1%;
		/* --tabBackground: rgb(0, 111, 128); */

		/*  Header Scanlytics Section */
		--scanlyticsLogoWidth: 55%;
		--scanlyticsLogoHeight: 54%;
		--scanlyticsTitleFontSize: 20px;
		--scanlyticsLogoWidthSection: 73%;
		--scanlyticsLogoHighSectiont: 60%;
		/*  Skelet Section body Point  Section */

		--bodyPointsTitleFontSize: 19px;
		--bodyplusFontSize: 27px;
		--bodyPin1LeftPosition: 35%;
		--bodyPin1TopPostion: 25%;
		--bodyPin2LeftPosition: 33%;
		--bodyPin2TopPostion: 38%;
		--bodyPin3LeftPosition: 28%;
		--bodyPin3TopPostion: 49%;
		--navBarIconSectionWidth: 75%; 
		--navBarIconSectionHeight: 15%;
		--deleteMessageFontSize: 10px; 
		--deleteMessageIconHeight: 75%;
		--deleteMessageIconWidth: 38%
	}
}
/* L - Size Screen - Mid laptops (your 1807px screen) */
@media (min-width: 1700px) {
	:root {
		/* --leftHeaderBackground: rgb(216, 117, 18);  */
		--Leftheader-height: 7%;
		--leftHeaderInput-hieight: 50%;
		--tabBtn-fontSize: 14px;
		/* --tableHeaderBackground: rgb(103, 88, 242);  */

		/* Table Component */
		--tableHeaderFont-Size: 13px;
		--tableFont-Size: 12px;
		--tableminHeight: 30px;
		--tableHeaderWidthId: 6.9%;
		--tableHeaderWidthName: 39.5%;
		--tableHeaderWidthbestand: 22.75%;

		/* Product Component */
		--productHeaderFontSize: 20px;
		--productTextFontSize: 13px;
		--productImageDeatilsGap: 2%;
		/* --tabBackground: rgb(128, 0, 0); */

		/*  Header Scanlytics Section */
		--scanlyticsLogoWidth: 60%;
		--scanlyticsLogoHeight: 59%;
		--scanlyticsTitleFontSize: 22px;
		--scanlyticsLogoWidthSection: 72%;
		--scanlyticsLogoHighSectiont: 66%;

		/*  Skelet Section body Point  Section */

		--bodyPointsTitleFontSize: 20px;
		--bodyplusFontSize: 30px;
		--bodyPin1LeftPosition: 37%;
		--bodyPin1TopPostion: 25%;
		--bodyPin2LeftPosition: 35%;
		--bodyPin2TopPostion: 38%;
		--bodyPin3LeftPosition: 30.6%;
		--bodyPin3TopPostion: 49%;
		--navBarIconSectionWidth: 75%; 
		--navBarIconSectionHeight: 17%;
		--deleteMessageFontSize: 12px;
		--deleteMessageIconHeight: 80%;
		--deleteMessageIconWidth: 40%
	}
}

/* XL - Size Screen - Between Middle  laptops (your 1807px screen) */
@media (min-width: 1900px) {
	:root {
		/* --leftHeaderBackground: rgb(216, 117, 18);  */
		--Leftheader-height: 7%;
		--leftHeaderInput-hieight: 50%;
		--tabBtn-fontSize: 15px;
		/* --tableHeaderBackground: rgb(103, 88, 242);  */

		/* Table Component */
		--tableHeaderFont-Size: 16px;
		--tableFont-Size: 14px;
		--tableminHeight: 35px;
		--tableHeaderWidthId: 6.9%;
		--tableHeaderWidthName: 39.5%;
		--tableHeaderWidthbestand: 22.8%;

		/* Product Component */
		--productHeaderFontSize: 23px;
		--productTextFontSize: 15px;
		--productImageDeatilsGap: 2%;
		/* --tabBackground: rgb(128, 0, 0); */

		/*  Header Scanlytics Section */
		--scanlyticsLogoWidth: 62%;
		--scanlyticsLogoHeight: 59%;
		--scanlyticsTitleFontSize: 22px;
		--scanlyticsLogoWidthSection: 72%;
		--scanlyticsLogoHighSectiont: 67%;
		--navBarIconSectionWidth: 75%; 
		--navBarIconSectionHeight: 16%;

		/*  Skelet Section body Point  Section */

		--bodyPointsTitleFontSize: 20px;
		--bodyplusFontSize: 30px;
		--bodyPin1LeftPosition: 36%;
		--bodyPin1TopPostion: 25%;
		--bodyPin2LeftPosition: 34.5%;
		--bodyPin2TopPostion: 38%;
		--bodyPin3LeftPosition: 30%;
		--bodyPin3TopPostion: 49%;
		--deleteMessageFontSize: 15px
		
	}
}


/*  XXL - Size Screen - Large Screen */
@media (min-width: 2560px) {
	:root {
		/* --leftHeaderBackground: rgb(31, 250, 170);  */
		--Leftheader-height: 7%;
		--leftHeaderInput-hieight: 50%;
		--tabBtn-fontSize: 20px;
		/* --tableHeaderBackground: rgb(227, 124, 21);  */

		/* Table Component */
		--tableHeaderFont-Size: 19px;
		--tableFont-Size: 17px;
		--tableminHeight: 43px;
		--tableHeaderWidthName: 39.7%;
		--tableHeaderWidthId: 6.9%;
		--tableHeaderWidthbestand: 22.8%;

		/* Product Component */
		--productHeaderFontSize: 28px;
		--productTextFontSize: 19px;
		--productImageDeatilsGap: 7%;
		/* --tabBackground: rgb(28, 128, 0); */

		/*  Header Scanlytics Section */
		--scanlyticsLogoWidth: 56%;
		--scanlyticsLogoHeight: 62%;
		--scanlyticsTitleFontSize: 31px;
		--scanlyticsLogoWidthSection: 70%;
		--scanlyticsLogoHighSectiont: 64.1%;

		/*  Skelet Section body Point  Section */

		--bodyPointsTitleFontSize: 30px;
		--bodyplusFontSize: 40px;
		--bodyPin1LeftPosition: 37%;
		--bodyPin1TopPostion: 25%;
		--bodyPin2LeftPosition: 35.5%;
		--bodyPin2TopPostion: 38%;
		--bodyPin3LeftPosition: 31%;
		--bodyPin3TopPostion: 49%; 
		--navBarIconSectionWidth: 70%; 
		--navBarIconSectionHeight: 16.5%;
		--deleteMessageFontSize: 18px; 
		--deleteMessageIconHeight: 85%;
		--deleteMessageIconWidth: 45%
		
	}
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}
